[submodule "SandboxAPI"]
	path = SandboxAPI
	url = https://github.com/SandboxPowered/SandboxAPI.git
[submodule "TestMod"]
	path = TestMod
	url = https://github.com/SandboxPowered/Sandbox-Test-Mod.git
[submodule "discord-rpc"]
	path = discord-rpc
	url = https://github.com/SandboxPowered/discord-rpc.git
