[submodule "SandboxAPI"]
	path = SandboxAPI
	url = https://github.com/OpenModLoader/SandboxAPI.git
[submodule "ExampleAddon"]
	path = ExampleAddon
	url = https://github.com/OpenModLoader/Sandbox-Example-Addon.git
